@font-face {
    font-family: 'HoneyBee';
    src: url('honeybee.ttf') format('truetype');
}

body {
    font-family: 'HoneyBee', 'Comic Sans MS', sans-serif;
    background-color: #FFE0E5;
    background-image: linear-gradient(45deg, #FFD1DC, #FFE4E6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}

.message {
    text-align: left;
    max-width: 50%;
}

.message h1 {
    color: #FF4E75;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.message p {
    color: #FF658B;
    font-size: 24px;
}

.flaming-heart {
    font-size: 100px;
    color: #FF4E75;
    text-shadow: 0 0 15px rgba(255, 78, 117, 0.8);
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

button {
    padding: 15px 30px;
    font-size: 24px;
    margin: 20px;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #FF4E75;
    background-color: #FFD1DC;
    color: #FF4E75;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: rotate(5deg) scale(1.1);
    background-color: #FF738A;
    border-color: #FF4E75;
}

#noButton {
    position: relative;
}
